form{
  display: table;
  align-content: center;
  padding: 50px;
  background-color: rgb(255, 254, 255);
  /* border-radius: 100px; */
  text-align: center;

}
.dialog{
  /* vertical-align: auto; */
  /* border-radius: 50px; */
    background-color: aquamarine;
}

textarea{
  size: 50px;
}
button:hover{
  background-color: rgb(204, 204, 204);
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 50px;
}
