
<div class="form">
  <form [formGroup]="registerForm">
    <!-- <input > -->
    <!-- <mat-form-field >
      <mat-label> Username </mat-label>
      <input formControlName="username" matInput (focus)="onFocus='username'" (focusout)="onFocus=''" >
      <mat-hint *ngIf="onFocus=='username'">hint</mat-hint>

    </mat-form-field> -->

    <mat-form-field >
      <mat-label> Email </mat-label>
      <input formControlName="email" matInput (focus)="onFocus='email'" (focusout)="onFocus=''">
      <mat-hint *ngIf="onFocus=='email'">hint</mat-hint>

    </mat-form-field>

    <!-- <mat-form-field >
      <mat-label> Role </mat-label>
      <input formControlName="role" matInput (focus)="onFocus='role'" (focusout)="onFocus=''">
      <mat-hint *ngIf="onFocus=='role'">hint</mat-hint>

    </mat-form-field> -->

    <mat-form-field >
      <mat-label> Password </mat-label>
      <input formControlName="password" matInput (focus)="onFocus='password'" (focusout)="onFocus=''">
      <mat-hint *ngIf="onFocus=='password'">hint</mat-hint>

    </mat-form-field>

    <button type="submit" mat-raised-button (click)="signup() ">Submit</button>
    <!-- <button (click)="logout()" mat-raised-button>Signout</button> -->
    <!-- <button (click)="login()" mat-raised-button>Login</button> -->


  </form>
</div>

